body {
	margin: 0;
	padding: $padding-cero;
	box-sizing: border-box;
}

h1 {
	@extend %titular-principal;
}

h2 {
	@extend %titular-dos;
}

.nosotros-text h2 {
	margin: 1rem 0rem;
}

h3 {
	@extend %titular-tres;
}

.section-white {
	margin: 0 1rem;
	padding-top: 3rem;
	color: $white;
}

a {
	text-decoration: none;
}

p {
	@extend %parrafos;
}

.button {
	@extend %button;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0rem 1rem;
}

.topic {
	width: 200px;
	text-align: center;
	padding: 1rem;
	margin: 0rem auto;
}

iframe {
	width: 100%;
	height: 14.5rem;
	border: none;
	margin: 0.5rem 0;
	transition: 0.45s;
	-webkit-transition: 0.45s;
	-moz-transition: 0.45s;
	-ms-transition: 0.45s;
	-o-transition: 0.45s;
	&:hover {
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		box-shadow: 1px 4px 19px -5px rgba(0, 0, 0, 0.75);
	}
}

.entrevistas-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 0;

	img {
		width: 100%;
	}
}

.line-through {
	text-decoration: line-through;
}

#novedades {
	text-align: center;
}

#nosotros {
	#phone {
		position: relative;
		top: -7rem;
		margin-bottom: -6rem;

		img {
			max-width: 300px;
		}
	}
}

#introduccion {
	margin: 0rem 1rem;
}

#p-lg {
	display: none;
}
