@import "variables";
@import "general";
@import "nav";
@import "main";
@import "footer";

/* MEDIAS */

@media screen and (min-width: 768px) {
	h1 {
		font-size: $font-size-ftet;
		width: 100%;
	}

	h2 {
		margin: 1rem 3rem;
	}

	p {
		font-size: $font-size-sxtn;
	}

	.btn {
		width: unset;
		padding: 1rem 4rem;
	}

	.container {
		flex-flow: row wrap;
		justify-content: space-around;
		padding: 4rem;
	}

	.section-white {
		margin: 0 3rem;
		padding-top: 3rem;
	}

	.entrevistas-container {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 4rem;
	}

	#nosotros {
		flex-direction: row;

		#phone {
			top: -8rem;
			margin-bottom: -10rem;

			img {
				max-width: 330px;
			}
		}

		.nosotros-text {
			max-width: 300px;
		}
	}

	#introduccion {
		margin: 0rem 3rem;
	}
}

@media screen and (min-width: 1220px) {
	h1 {
		font-size: $font-size-stfr;
		width: 100%;
	}

	h2 {
		font-size: $font-size-ftet;
		margin: 1rem 10rem;
	}

	.blue-dot {
		color: $blue;
	}

	.button {
		font-size: $font-size-ettn;
	}

	.section-white {
		margin: 0 10rem;
	}

	.container {
		flex-flow: row wrap;
		justify-content: space-around;
		padding: 1rem;
		margin-bottom: 4rem;
	}

	.topic:first-child {
		margin-left: 10rem;
	}

	.topic:last-child {
		margin-right: 10rem;
	}

	/* NAV */
	header {
		padding: 1.63rem 6.25rem;

		nav {
			align-items: center;

			.nav-box-two {
				padding-top: 0px;

				ul {
					position: relative;
					top: 0;
					right: 0;
					width: unset;
					overflow: hidden;
					background: unset;
					height: unset;

					li {
						padding-left: 50px;
						display: inline-block;

						a {
							padding: unset;
							line-height: unset;
							color: $black;
							&:hover {
								text-decoration: line-through;
								color: $teal;
							}
							&:active {
								color: rgba(6, 10, 36, 0.56);
							}
						}
					}
				}

				input {
					display: none;
				}

				span {
					display: none;
				}
			}
		}
	}

	.gradient-container-one {
		height: unset;
		padding: 8rem 0;
		clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
	}

	.gradient-container-two {
		height: unset;
		padding: 8rem 0;
		clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
	}

	#p-sm {
		display: none;
	}

	#p-lg {
		display: block;
		max-width: 60%;
	}

	/* GENERALES */

	iframe {
		margin: 2rem 2.4rem;
		max-width: 40%;
	}

	.entrevistas-container {
		grid-template-columns: repeat(3, 1fr);
	}

	#nosotros {
		flex-direction: row;
		padding: 0rem 10rem;

		#phone {
			top: -8rem;

			img {
				max-width: 458px;
			}
		}
		.nosotros-text {
			max-width: 400px;
		}
	}

	#introduccion {
		margin: 2rem 12rem;
		padding-top: 3rem;
	}

	footer {
		flex-direction: row;
		justify-content: space-between;
		padding: 0 10rem;
	}
}
